<table class="table table-light table-hover">
  <thead>
  </thead>
  <tbody>
    <tr>
      <section class="container" (click)="verDetalle()">
        <div class="table--text_left">
          <p class="table--text_nombre">{{indica.nombre}}</p>
          <p class="table--text_unidad_medida">{{indica.unidad_medida}}</p>
        </div>

        <div class="table--text_right">
          <img  class="text-right_icon-info" src={{iconInfo}} alt="Icono de información"> <!-- (click)="verDetalle()" -->
          <img class="text-right_icon-arrow" src={{iconArrow}} alt="Icono de flecha"> 
        </div>

      </section>
    </tr>
  </tbody>
</table>




 